/*
.large-checkbox-label {
  display:inline-block;
  user-select:none;
  position:relative;
  width:40px;
  height:40px;
  border:.25rem solid gray;
  border-radius:1rem;
  transition:.25s;
  cursor:pointer;
  overflow:hidden;
  color:rgba(0,0,0,.1);
  //font:normal 4rem/5.25rem "icon";
  text-align:center;
  //margin:2rem;
  background:url('http://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/checkmark-24-512.png');
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3

}

.large-checkbox-label:active {
  transition:0;
  -webkit-filter:brightness(.8);
}
.large-checkbox:checked + .large-checkbox-label {
  color:limegreen;
  background:url('http://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/checkmark-24-512.png');
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  border-color:limegreen;
  box-shadow:0 0 0 0 limegreen;
}

.large-checkbox { display:none; }

.large-checkbox-text {
  margin-left: 10px;
  vertical-align: top;
}
*/


.setting-img {
  min-width: 30px;
  min-height: 30px;
	background-size: cover;
  background-repeat="no-repeat";
  background-position="center";
}

.setting-img img {
  height: 30px;
}

.l-checkbox {
  //width: 130px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  border: .25rem solid;
  border-radius: 1rem;
  padding: 5px 10px;
  border-color: black;
  opacity: 0.4;
}

.l-checkbox.true {
  border-color: green;
  opacity: 1;
}

.l-checkbox.false {
  
}

.setting-c .setting-o {
  font-size: 2em;
  display: inline-block;
  border: .25rem solid;
  border-radius: 1rem;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-top: 3px;
  margin: 10px;
  opacity: 0.4;
}
.setting-c .setting-o.true {
  border-color: green;
  opacity: 1;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.bs-docs-example 
{
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
 
.bs-docs-example::after
{
    content: "Example";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
